@import "tailwindcss";

@theme{
  --color-brand: #4b3e61;
  --color-bg: #fddde1;
  --color-brandpink: #ff92a0;

}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.bg-test{
  background-image: url("src/img/bg.png");
  background-size: 100% 100%;
  position: relative;
  background-position: center;
  height: 100vh;
}

.background{
  background-color: #fddde1;
}
